name: Extension Code Quality
on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - "main"
    paths-ignore:
      - "**.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  code-quality:
    name: Code Quality
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_code_quality.yml@v1.4.3
    with:
      extension_name: lance
      duckdb_version: v1.3.2
      ci_tools_version: v1.4.3
