name: Main Extension Distribution Pipeline
on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    tags:
      - "*"
    branches:
      - "main"
    paths-ignore:
      - "**.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' && github.sha || '' }}
  cancel-in-progress: true

jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.4.3
    with:
      duckdb_version: v1.3.2
      ci_tools_version: v1.4.3
      extension_name: lance
      extra_toolchains: "rust"
      exclude_archs: "wasm_mvp;wasm_eh;wasm_threads;windows_amd64_mingw"
